<div class="header py-7 py-lg-8">
  <!-- Page content -->
  <div class="content container pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header text-center bg-transparent pb-5">
            <h2>Login</h2>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email" formControlName="email" type="email" required>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-icon btn-3 btn-danger my-3" type="submit" [disabled]="loginForm.invalid">
                  <span class="btn-inner--icon"><i class="fab fa-google"></i></span>
                  <span class="btn-inner--text">Login with Google</span>
                </button>
              </div>
            </form>
            <div class="row mt-3">
              <div class="col-12 text-center">
                <a routerLinkActive="active" [routerLink]="['/register']" class="text-muted"><small>Not have account ?
                    Sign Up</small></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>